/** Animations CSS **/

/** Photo container CSS **/

.social-media-icons img:hover {
  filter: hue-rotate(180deg);
}

.repo-container img:hover {
  transform: scale(1.5);
  transform-origin: right bottom;
}
