@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

/** Header styling **/

.main-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: auto;
  background-color: #8d91ff;
}

.summary-container {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  min-height: auto;
  background-color: #8d91ff;
}

.title-photo-container {
  display: flex;
  width: 400px;
  height: 500px;
  margin: 40px;
  background-color: hsl(47, 77%, 54%);
  border-radius: 10px;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.35) 1px 5px 15px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}

.title h1 {
  color: #f2f2f2;
  background: #ff4a4a;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  font-family: "Libre Baskerville", serif;
}

.title h2 {
  margin-left: 20px;
  padding: 1px;
  font-family: "Titilium-web", sans-serif;
}

.photo-container {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 5px;
  margin-top: 30px;
  margin-bottom: -20px;
  z-index: 2;
}

.photo {
  width: 210px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.35) 1px 5px 15px;
}

/** Personal info list styling **/

.specific-info {
  list-style-type: none;
  margin-left: 20px;
}

.specific-info li {
  font-size: 17px;
  font-family: "Titilium-web", sans-serif;
}

/** Social media icons styling **/

.social-media-icons {
  min-width: 60%;
  display: inline;
  background-color: rgb(134, 129, 129);
}
