@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

/** Header styling **/

.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pling.com/img/00/00/52/38/08/1328874/129a5f7a25e3cbf08cf6cbce5de7bdd2a609.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.summary-container {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  min-height: auto;
}

.title-photo-container {
  display: flex;
  width: 400px;
  height: 610px;
  margin: 40px;
  background-color: rgb(115, 124, 121);
  border-radius: 10px;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.35) 1px 5px 15px;
  opacity: 0.7;
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}

.title h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #070707;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title h2 {
  margin-left: 20px;
  margin-top: 5px;
  font-family: "Titilium-web", sans-serif;
}

.photo-container {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: -100px;
  margin-top: 80px;
  z-index: 2;
}

.photo-container img {
  width: 210px;
  height: 300px;
  border-radius: 10px;
  box-shadow: rgba(0.1, 0.1, 0.1, 0.35) 1px 5px 15px;
}

/** Personal info list styling **/

.specific-info {
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
}

.specific-info li {
  font-size: 17px;
  font-family: "Titilium-web", sans-serif;
}

/** Social media icons styling **/

.social-media-icons {
  display: inline;
  text-align: left;
  justify-content: space-evenly;
  margin: 10px;
  min-width: 60%;
  padding-left: 10px;
}

.social-media-icons img {
  height: 35px;
  width: 35px;
}

.social-media-icons a {
  margin: 5px;
}

/** Interests section styling **/

.interests-container {
  border-radius: 10px;
  margin-top: 15px;
  height: 100%;
  color: white;
  background-color: #070707;
}

.interests-container h2 {
  margin-top: 15px;
  margin-left: 20px;
  font-family: "Titilium-web", sans-serif;
}

.interests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 350px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.interests img {
  width: 40px;
  height: 40px;
}

.interests div {
  margin: 10px;
}

/** Biography styling **/

.section-container {
  width: 100%;
}

.biography-container {
  display: flex;
  margin: 40px;
  justify-content: center;
  align-items: center;
}

.brief-biography {
  width: 80%;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 1px 30px 60px -12px inset,
    rgba(0.1, 0.1, 0.1, 0.3) 0.1px 18px 36px -18px inset;
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
  opacity: 0.6;
}

.brief-biography p {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}

.brief-biography span {
  font-size: 40px;
  font-family: "Comfortaa", cursive;
  color: rgb(20, 4, 92);
  font-weight: bolder;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: rgb(150, 150, 204);
  border-radius: 50%;
  display: inline-block;
  border: 0.5px solid black;
}

.studies {
  width: 70%;
  padding: 20px;
  margin-left: 15px;
}

.studies h3 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  padding: 20px;
  margin-top: 15px;
  color: rgb(238, 248, 238);
}

.studies p {
  line-height: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: antiquewhite;
}

/** Repositories Styles **/

.skills-repositories {
  display: flex;
  flex-direction: row;
}

.skills {
  width: 35%;
}

.skills h1 {
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  margin-top: 15px;
  color: rgb(238, 248, 238);
}

.skills span {
  font-size: 18px;
  font-family: "Titilium-web", sans-serif;
  border-radius: 5px;
  line-height: 30px;
}

.one {
  color: #f7ecec;
  background-color: rgb(10, 10, 10);
}

.two {
  color: #080808;
  background-color: rgb(236, 221, 10);
}

.three {
  color: #020202;
  background-color: rgb(96, 204, 86);
}

.four {
  color: #ededf8;
  background-color: rgb(2, 51, 94);
}

.five {
  color: #0e0d0c;
  background-color: rgb(236, 155, 5);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.repo-container img {
  width: 150px;
  height: 120px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.repo-container h1 {
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  margin-top: 15px;
  color: rgb(238, 248, 238);
}

.repo-container h2 {
  font-weight: lighter;
  font-size: 20px;
  padding: 5px;
  color: aliceblue;
  background-color: #0e0d0c;
}
